body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
                max-width: 800px;
                margin: 0 auto;
                color: grey;
                padding-left:  30px;
                padding-right: 30px;
            }
body {
    background-image: https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/13043757_1702570820013364_6791150037810427048_n.jpg?oh=b12df8bb29ff57cf0ed111b1f84e9304&oe=5A220086 ("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}